version: '3.8'

volumes:
  postgres_data:

networks:
  keycloak-net:
    driver: bridge

services:
  # PostgreSQL compartido para ambos Keycloaks
  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: keycloak
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - keycloak-net
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U keycloak"]
      interval: 5s
      timeout: 5s
      retries: 10

  # Keycloak Node 1
  keycloak-1:
    build: .
    container_name: keycloak-1
    hostname: keycloak-1
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres:5432/keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: keycloak
      KC_HOSTNAME: localhost
      KC_HOSTNAME_STRICT: false
      KC_HTTPS_ENABLED: true
      KC_HTTPS_PORT: 8443
      KC_HTTPS_KEY_STORE_FILE: /opt/keycloak/conf/keycloak.p12
      KC_HTTPS_KEY_STORE_PASSWORD: changeit
      KC_HTTPS_KEY_STORE_TYPE: PKCS12
      KC_CACHE: ispn
      KC_CACHE_STACK: tcp
      JAVA_OPTS_APPEND: >-
        -Djgroups.bind_addr=keycloak-1
        -Djgroups.tcpping.initial_hosts=keycloak-1[7800],keycloak-2[7800]
        -Djava.net.preferIPv4Stack=true
    ports:
      - "8443:8443"
      - "7800:7800"
    volumes:
      - ./certs/keycloak.p12:/opt/keycloak/conf/keycloak.p12:ro
    networks:
      - keycloak-net
    depends_on:
      postgres:
        condition: service_healthy

  # Keycloak Node 2
  keycloak-2:
    build: .
    container_name: keycloak-2
    hostname: keycloak-2
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres:5432/keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: keycloak
      KC_HOSTNAME: localhost
      KC_HOSTNAME_STRICT: false
      KC_HTTPS_ENABLED: true
      KC_HTTPS_PORT: 8443
      KC_HTTPS_KEY_STORE_FILE: /opt/keycloak/conf/keycloak.p12
      KC_HTTPS_KEY_STORE_PASSWORD: changeit
      KC_HTTPS_KEY_STORE_TYPE: PKCS12
      KC_CACHE: ispn
      KC_CACHE_STACK: tcp
      JAVA_OPTS_APPEND: >-
        -Djgroups.bind_addr=keycloak-2
        -Djgroups.tcpping.initial_hosts=keycloak-1[7800],keycloak-2[7800]
        -Djava.net.preferIPv4Stack=true
    ports:
      - "8444:8443"
      - "7801:7800"
    volumes:
      - ./certs/keycloak.p12:/opt/keycloak/conf/keycloak.p12:ro
    networks:
      - keycloak-net
    depends_on:
      postgres:
        condition: service_healthy
